@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LTera';
  src: url('./assets/fonts/LexendTera.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url('./assets/fonts/SpaceGrotesk.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}